@font-face {
  font-family: "PT Sans";
  src: local('PT Sans'),
  url("fonts/ptsans.woff2") format("woff2"),
  url("fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local('PT Sans'),
  url("fonts/ptsansbold.woff2") format("woff2"),
  url("fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
  url("fonts/cuprum.woff2") format('woff2'),
  url("fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
  url("fonts/cuprumitalic.woff2") format('woff2'),
  url("fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
  url("fonts/cuprumbold.woff2") format('woff2'),
  url("fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
  url("fonts/cuprumbolditalic.woff2") format('woff2'),
  url("fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --basic-green: #63A63E;
  --basic-background: #f1f5f7;
  --basic-red: #EE3643;
  --wisper: #eaeaea;
  --wisper2: #E5E5E5;
  --basic-blue: #32425C;
  --basic-black: #000000;
  --basic-extra-grey2: #C5C5C5;
  --basic-light-grey: #c4c4c4;
  --basic-extra-white: #F7F3EC;
  --basic-white: #FFFFFF;
  --basic-white2: #f3f7f9;
  --basic-extra-yellow: #FFD180;
  --basic-midnight: #212A3A;
  --basic-dark-blue: #293449;
  --basic-light-blue: #405069;
  --basic-extra-grey: #C1C6CE;
  --special-yellow: #FFBF47;
  --basic-light-green: #8ED78F;
  --basic-violet: #DC91D8;
  --picton-blue: #3BBCE3;
  --success: #5FBB2D;
  --extra-blue: #161D29;
  --error: #BA2732;
  --basic-extra-green: #61D322;
  --basic-grey: #3D546F;
  --solitude: #B7BFC8;
  --extra-midnight: #1D2739;
  --basic-dark-grey: #A9A9A9;
  --dark-red: #CA2C37;
  --dark-green: #518534;
  --extra-dark-grey: #B5B5B5;
  --basic-linen: #F9F5F0;
  --extra-light-grey: #EAEAEA;
  --special-light-grey: #F4F4F4;
  --extra-light-grey2: #F1F1F1;
  --very-dark-green: #367315;
  --basic-white-transparent: rgba(255, 255, 255, 0.5);
  --special-white-transparent: rgba(255, 255, 255, 0.3);
  --extra-grey: rgba(0, 0, 0, 0.25);
  --special-grey: rgba(0, 0, 0, 0.15);
  --special-black: rgba(0, 0, 0, 0.75);
  --some-grey: rgba(0, 0, 0, 0.0001);
  --some-grey2: rgba(41, 52, 73, 0.75);
}

.page {
  height: 100%;
}

body {
  min-width: 940px;
  display: grid;
  grid-template-rows:min-content 1fr min-content;
  align-content: start;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background-color: var(--basic-white);


}


h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


.main-header {
  margin-bottom: 70px;
  background-color: #F1F5F7;

}

.wrapper {
  margin: 0 auto;

  width: 970px;

  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;

}

.main-header__top .wrapper {
  margin-bottom: 26px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.main-header__top {

  font-size: 18px;
  background-color: var(--basic-dark-blue);


}

.main-header__logo-link {
  display: block;
}


.main-header__search-form {

  position: relative;
  /*
  display: flex;
  align-items: center;
  position: relative;
  */


}

.main-header__search-form svg {
  position: absolute;
  left: 19px;
  top: 12px;
  opacity: 0.5;
}


.main-header__search-form:hover svg {
  opacity: 1;
}

.main-header__search-input:focus + .main-header__search-icon > path {
  fill: var(--basic-red);
  opacity: 1;
}


.main-header__search-input {
  outline: none;
  padding-left: 42px;
  width: 270px;
  height: 42px;
  box-sizing: border-box;
  background-color: var(--basic-dark-blue);
  border: 1px solid var(--basic-dark-blue);

}

.main-header__search-input::placeholder {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.main-header__search-input:focus {
  border: 0;
  border: none;

  background-color: var(--basic-white);


}

.main-header__search-input:focus::placeholder {
  /*
  margin: 0;
  */
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);

}


.main-header__top a {
  font: inherit;
  color: var(--basic-white);

}

.main-header__link--top:active {
  color: var(--basic-white-transparent);

  background-color: var(--extra-blue);
}


.main-header__menu-item {
  position: relative;
}

p .main-header__bookmarks-link {
  display: flex;
  align-items: center;
  padding: 9px 24px 9px 43px;

}

p .main-header__bookmarks-link::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 20px;
  background-image: url("../img/icons/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

p .main-header__bookmarks-link:hover::before {
  opacity: 1;
}

p .main-header__bookmarks-link:active::before {
  opacity: 0.5;
}


p .main-header__basket-link {
  display: flex;
  align-items: center;

  padding: 9px 26px 9px 49px;
}

p .main-header__basket-link:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 20px;
  background-image: url("../img/icons/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

p .main-header__basket-link:hover::before {
  opacity: 1;
}

p .main-header__basket-link:active::before {
  opacity: 0.5;
}

.main-header__order-link {
  padding: 9px 19px 9px 16px;

  color: var(--basic-white);

  background-color: var(--basic-green)
}


.main-header__order a:active {
  color: var(--basic-white-transparent);

  background-color: var(--basic-green);
}


.main-header__order-link:hover {
  background-color: var(--success);

  filter: drop-shadow(0px 4px 4px var(--extra-grey));
}


.main-header__logo-link img {

  padding: 12px 56px 17px 56px;


  background-color: var(--basic-red);

  box-shadow: inset 0 -5px var(--extra-grey);
}

.main-header__logo-link img:active {

  background-color: var(--error)
}


.main-header__bottom {


  font-size: 18px;
  color: var(--basic-blue);
  background-color: #F1F5F7;

}

.main-header__bottom .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  justify-content: space-between;
  align-items: center;

}

.main-header__title {
  margin-bottom: 30px;
  width: 197px;
  font-size: 16px;
  line-height: 23px;

  font-style: italic;
  color: var(--basic-red);
}


.main-header__contacts {
  position: relative;

}

p .main-header__contacts-link {
  display: flex;
}

p .main-header__contacts-link::before {
  position: absolute;

  content: "";
  top: 10px;
  left: 40px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icons/icon-phone.png");
}

.main-header__contacts-address {
  font-size: 14px;
}

.main-header__contacts-link {
  display: inline-block;
  margin-bottom: 3px;
  padding: 7px 50px 8px 74px;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);

  background-color: var(--basic-white2);

  border: 3px solid var(--basic-white);


}


.main-header__user {
  position: relative;
  margin-bottom: 35px;

}

.main-header__user.catalog {
  position: relative;
  margin-bottom: 15px;
}

.main-header__user a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.main-header__user .main-header__user-login:hover,
.main-header__user .main-header__user-registration:hover {
  color: var(--basic-red)
}


.main-header__user .main-header__user-login:active,
.main-header__user .main-header__user-registration:active {
  color: var(--basic-light-grey);
}

.main-header__user-login {
  padding: 12px 37px 12px 45px;
}


.main-header__user-block {
  display: block;
}

.main-header__user-login:before {
  content: "";

  display: block;
  position: absolute;
  top: 3px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.main-header__user-login:hover:before {
  background-image: url("../img/icons/icon-login-grey.svg");
}

.main-header__user-login:active:before {
  background-image: url("../img/icons/icon-login-light.svg");
}

.main-header__user-block {
  display: block;
  margin-bottom: 7px;
}

.main-header__user-profile {
  position: relative;
}

.main-header__user-profile:hover {
  color: var(--basic-grey);
}

.main-header__user-profile:active {
  color: var(--basic-light-grey);
}

.main-header__user-profile:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 10px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icons/user_profile.svg");


}

.main-header__user-profile:hover:before {
  background-image: url("../img/icons/user_profile-grey.svg");
}

.main-header__user-profile:active:before {
  background-image: url("../img/icons/user_profile.svg");
}

.main-header__user-profile:after {
  content: '';
  position: absolute;

  width: 20px;
  height: 17px;
  top: 3px;
  right: 10px;

  background-image: url("../img/icons/icon-logout.svg");


}

.main-header__user-profile:hover:after {
  background-image: url("../img/icons/icon-logout-grey.svg");
}

.main-header__user-profile:active:after {
  background-image: url("../img/icons/icon-logout.svg");

}

.main-header__user-name {
  display: inline-block;
  width: auto;
  padding: 12px 57px 12px 56px;
  background-color: var(--basic-white);
}

.main-header__user-login:hover::before {
  color: var(--basic-grey);
  fill: var(--basic-grey);
}

.main-header__user-login:active::before {
  color: var(--basic-extra-grey2)
}


.main-header__user-registration {
  padding: 12px 24px;
}

.main-header__nav {
  margin: 0;

  width: 100%;

  background-color: var(--basic-blue);

  box-shadow: inset 0 -5px var(--basic-dark-blue);
}

.main-header__nav-list {

  margin: 0;

  padding: 0;

  display: flex;
  justify-content: space-around;

  list-style: none;
}

.main-header__nav-list a {
  display: block;
  padding: 20px 28px;
  color: var(--basic-white);

}


.main-header__nav-list a:hover {

  background-color: var(--basic-dark-blue);

  box-shadow: inset 0 -5px var(--basic-dark-blue);
}

.main-header__nav-list a:active {
  color: var(--basic-white-transparent);

  background-color: var(--extra-midnight);

  box-shadow: inset 0 -5px var(--basic-dark-blue);
}

/*global margin*/


.page__body {
}

.page__body--index {
}

.page__menu {
}

.page__body--index .page__menu {
  margin-bottom: 59px;
}

.page__body--index .page__goods {
  margin-bottom: 70px;
}

.page__body--index .page__brands {
  margin-bottom: 70px;
}

.page__body--index .page__services {
  /*
  margin-bottom: 70px;
  */
}

.page__body--index .page__company {
  margin-bottom: 70px;
}

/*main*/

.main-index a {
  text-transform: uppercase;

}

/*Menu*/


.menu {

  color: var(--basic-white);
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
}


.menu__list {
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows:repeat(3, auto);
  gap: 20px;


  list-style: none;
  padding: 0;
  box-sizing: border-box;

}


.menu__list h3 {
  margin: 0 0 14px 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}


.menu__list li:nth-child(-n+5) {
  width: 300px;
  padding: 20px 0 0 23px;
  position: relative;

  box-sizing: border-box;
}

.menu__item--materials {
  background-image: url("../img/icons/icon-materials.png");
  background-repeat: no-repeat;
  background-position: 80% 55%;
}

.menu__item--instruments {
  background-image: url("../img/icons/icon-tools.png");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.menu__item--technique {
  background-image: url("../img/icons/icon-technique.png");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.menu__item--discounts {
  background-image: url("../img/icons/icon-discounts.png");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.menu__item--delivery {
  background-image: url("../img/icons/icon-delivery.png");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.menu__item--new:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 70px;

  background-image: url("../img/goods/new_item.png");

}


.menu__item a {
  margin-bottom: 21px;

  display: inline-block;

  padding: 10px 26px 10px 26px;
  font: inherit;
  color: var(--basic-white);

  background-color: var(--special-white-transparent);
}


.menu__list li:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--special-yellow);
}

.menu__list li:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--picton-blue);
}

.menu__list li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--basic-violet);
}

.menu__list li:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: var(--basic-light-green);

}

.menu__list li:nth-child(5) {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: var(--special-yellow);
}

.menu__list li:nth-child(6) {
  grid-column: 1/3;
  grid-row: 2/4;
}

.menu__item a:hover {
  background-color: var(--basic-extra-grey2);
  opacity: 30%;
}

.menu__item a:active {
  background-color: var(--basic-dark-grey);
  opacity: 30%;
}


.slider__slide--1 {
  width: 620px;
  height: 266px;
  padding-top: 24px;
  padding-left: 23px;
  box-sizing: border-box;

  background-image: url('../img/goods/perforators.jpg');
  background-repeat: no-repeat;

}

.slider__slide--2 {

  width: 620px;
  height: 266px;
  padding-top: 24px;
  padding-left: 23px;
  box-sizing: border-box;

  background-image: url('../img/goods/drills.jpg');
  background-repeat: no-repeat;
}


.menu__item--slider h3 {
  margin: 0 0 5px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

.slider__text {
  margin: 0 0 113px 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

}

.menu__item--slider .slider__link {

  display: inline-block;

  padding: 11px 46px 9px 46px;

  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.menu__item--slider .slider__link:hover {
  background-color: var(--dark-red);

}

.menu__item--slider .slider__link:active {
  background-color: var(--error);
}

.slider__slide {
  display: none;
  position: relative;
}

.slider input {
  display: none;
}

#slide-1:checked ~ .slider__slides .slider__slide--1,
#slide-2:checked ~ .slider__slides .slider__slide--2 {
  display: block;
}

.slider__slide--1 label:nth-child(1):before,
.slider__slide--2 label:nth-child(1):before {
  content: "";
  position: absolute;

  width: 22px;
  height: 40px;

  top: 123px;

  background-image: url("../img/icons/prev.svg");
  cursor: pointer;
}

.slider__slide--1 label:last-child:before,
.slider__slide--2 label:last-child:before {
  content: "";
  position: absolute;

  width: 22px;
  height: 40px;

  right: 20px;
  bottom: 105px;
  background-image: url("../img/icons/next.svg");
  cursor: pointer;
}


/*Goods*/

.goods {
  margin-top: 71px;
  text-transform: uppercase;
}


.goods__intro {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 28px;
  padding-right: 14px;

  background-color: var(--basic-linen);

}


.goods__title {

  color: var(--basic-blue);
}

.goods__link {

  padding: 11px 24px 9px 24px;
  width: auto;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--basic-red);

}


.goods__link:hover {
  background-color: var(--dark-red);

}

.goods__link:active {
  background-color: var(--error);
}

.card-good__title {
  width: 185px;
  white-space: pre-line;
  text-align: center;

}

.goods__list {

  margin: 0;

  display: flex;

  padding: 0;
  list-style: none;
}

.goods__item {
  position: relative;
  display: flex;
  justify-content: space-between;;
  margin-right: 20px;


  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;

  border: 1px solid var(--extra-light-grey);
}


.card-good__card {
  /*
  position: relative;
  */
  width: 220px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  overflow: hidden;
  transition: all ease-in-out .2s;
}

.goods__item:nth-child(1) {

}

.goods__item:nth-child(1) .card-good__img {
  display: block;
  /*
  padding-right: 30px;
  */
}


.card-good__actions-popup {

  position: absolute;
  display: none;
  width: 150px;
  left: 35px;
  top: 38px;
  transform: translateY(100px);
  background-color: var(--basic-white);
}


.card-good__card:hover .card-good__actions-popup {

  display: block;
  transform: translateY(0px);
}


.card-good__buy {
  position: relative;
  display: block;
  margin-bottom: 10px;

  padding: 12px 20px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-green);

  border-radius: 2px;
  box-shadow: inset 0 -3px var(--very-dark-green);

}

.card-good__buy:hover {
  background-color: var(--success);
}

.card-good__buy:active {
  background-color: var(--dark-green);
}

.card-good__buy:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  top: 9px;
  background-image: url("../img/icons/basket.svg");
  opacity: 0.5;
}

.card-good__in-bookmark {
  display: block;
  padding: 9px 20px;
  box-sizing: border-box;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;

}

.card-good__in-bookmark:hover {
  border: 3px solid var(--basic-blue)
}

.card-good__in-bookmark:active {
  opacity: 0.5;
}


.goods__item:hover {
  box-shadow: 0 4px 20px var(--special-grey);
}


.card-good--new:before {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  display: block;
  width: 70px;
  height: 70px;

  background-image: url("../img/goods/new_item.png");


}

.card-good__img {
  margin-left: 0;
  max-width: 100%;
  height: auto;
  display: block;

}


.card-good__price {
  display: block;

  text-transform: uppercase;
  text-decoration: line-through;

}

.card-good__link {
  display: block;
  align-self: center;

}


.card-good__link-bay {
  display: block;
  margin-bottom: 21px;

  padding: 10px 44px 10px 32px;

  font-size: 17px;;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-image: url('../img/backgrounds/price-back.svg');
  background-size: 141px 38px;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  /*
  background-color: var(--basic-red);
  */
  border-radius: 2px;
  filter: drop-shadow(0 4px 4px 0 var(--extra-grey));
  cursor: pointer;

}

/*Brands*/

.brands {
  text-transform: uppercase;


}


.brands__intro {

  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 28px;
  padding-right: 14px;

  background-color: var(--basic-linen);

}

.brands__title {
  color: var(--basic-blue);
}

.brands__link {
  width: auto;
  text-align: center;
  padding: 11px 24px 9px 24px;
  box-sizing: border-box;


  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--basic-red);

}


.brands__link:hover {
  background-color: var(--dark-red);

}

.brands__link:active {
  background-color: var(--error);
}


.brands__list {
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  gap: 20px;

  padding: 0;
  list-style: none;

}

.brands__item {
  /*
  margin-bottom: 20px;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--extra-light-grey);
}

.brands__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;

}


.brands__item:hover {
  box-shadow: 0 4px 20px var(--special-grey);

}

.brands__item:active {
  box-shadow: 0 4px 20px var(--special-grey);
  opacity: 50%;
}


/*Services*/


.services {

  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);

  background-color: var(--basic-background);

}


.services .wrapper {
  padding-top: 64px;
}


.services a {
  text-transform: none;
}


.services__text {
  padding-bottom: 70px;

  white-space: pre-line;

  font-family: 'PT Suns', Arial, sans-serif;

}

.services-slider {
  display: flex;
  justify-content: space-between;
}

.services-slider__slide {
  display: none;
}

#services__slide-1:checked ~ .services-slider__slides .services-slider__slide:nth-of-type(1),
#services__slide-2:checked ~ .services-slider__slides .services-slider__slide:nth-of-type(2),
#services__slide-3:checked ~ .services-slider__slides .services-slider__slide:nth-of-type(3) {
  display: block;
}

.services-slider__input {
  display: none;
}

.services-slider__toggles {
  display: flex;
  flex-direction: column;

}


.services-slider__toggle {
  display: block;

  width: 240px;
  height: 61px;
  padding-top: 14px;
  padding-left: 22px;

  box-sizing: border-box;

  font-size: 21px;
  line-height: 30px;
  vertical-align: middle;

  color: var(--basic-white);

  background-color: var(--basic-blue);

  box-shadow: inset 0 1px var(--basic-light-blue);
  filter: drop-shadow(0 1px var(--basic-dark-blue));
  cursor: pointer;
}


.services-slider__toggle:hover {
  background-color: var(--basic-dark-blue);

  box-shadow: inset 0 1px var(--basic-light-blue);
  filter: drop-shadow(0 1px var(--basic-dark-blue));
}


.services-slider__toggle:active {
  color: var(--basic-blue);

  background-color: var(--basic-white);

  box-shadow: inset 0 1px var(--basic-white);
  filter: drop-shadow(0 1px var(--basic-white));
}


.services-slider__text {

  white-space: pre-line;
}


.services-slider__slide .services-slider__credit-link {

  padding: 8px 25px;
  box-sizing: border-box;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.services-slider__credit-link:hover {
  background-color: var(--dark-red);

}

.services-slider__credit-link:active {
  background-color: var(--error);

}


.services-slider__slide--1 {
  width: 600px;
  height: 261px;
  background-image: url("../img/backgrounds/delivery.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.services-slider__slide--2 {
  width: 600px;
  height: 283px;
  background-image: url("../img/backgrounds/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.services-slider__slide--3 {
  width: 600px;
  height: 285px;
  background: url("../img/backgrounds/credit.png") no-repeat 100% 50%;
}


/*company*/


.company-info {

  font-family: 'PT Suns', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.company-info .wrapper {
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;

}

.company-info p {
  padding: 0;
  white-space: pre-line;
}

.company-info__block {
  width: 600px;

}


.company-info a, .company-info h2 {
  font-family: 'Cuprum', Arial, sans-serif;

  text-transform: uppercase;
}

.company-info__list {
  font-family: 'Cuprum', Arial, sans-serif;
  list-style: none;
  color: var(--basic-black);
  font-size: 18px;


}

.company-info__item {

  display: flex;
  align-items: center;


}

.company-info__item:before {
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background-image: url("../img/backgrounds/shipping__company-item.png");

}

.company-info__company-link {
  display: inline-block;
  padding: 11px 40px 9px 40px;

  font-size: 14px;

  color: var(--basic-white);

  background-color: var(--basic-red);
}

.company-info__company-link:hover {
  background-color: var(--dark-red);

}

.company-info__company-link:active {
  background-color: var(--error);
}

.company-info__link {
  display: block;
  margin-bottom: 25px;
}

.company-info__btn {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  white-space: pre-line;
  padding: 11px 60px 9px 60px;

  font-size: 14px;
  color: var(--basic-white);

  background-color: var(--basic-red);
}

.company-info__btn:hover {
  background-color: var(--dark-red);

}

.company-info__btn:active {
  background-color: var(--error);
}

/*modal window*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  filter: drop-shadow(0 20px 40px 0 var(--special-black));
}

.modal-show {
  display: block;

}

/*
feedback
*/

.modal-feedback {
  width: 620px;
  height: 430px;


  font-size: 18px;
  line-height: 24px;

  border-top: 7px solid var(--basic-red);


  box-shadow: 0 4px 20px var(--extra-grey);

}

.form-feedback__header {
  width: 100%;
  height: 7px;
  background-color: var(--basic-red);
}

.modal-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);

  padding: 46px 80px 37px 80px;


}


.form-feedback__text {

  width: 450px;
  height: 114px;


  border: 2px solid var(--basic-light-grey);
  border-radius: 2px;


}

.form-feedback__button-block {
  grid-column: 1/-1;
  grid-row: 3/4;
  padding: 37px 80px;

  background-color: var(--special-light-grey);

}

.form-feedback__block {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.form-feedback__block input {
  display: block;
  margin-bottom: 10px;
}


.form-feedback__block:nth-child(1) {

  grid-column: 1/2;
  grid-row: 1/2;
}

.form-feedback__block label {
  margin-bottom: 11px;
}

.form-feedback__block:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.form-feedback__block:nth-child(3) {
  grid-column: 1/-1;
  grid-row: 2/3;
}


.form-feedback__block input {

  box-sizing: border-box;

  width: 220px;
  height: 38px;

  border: 2px solid var(--basic-light-grey);
  border-radius: 2px;
}


.form-feedback__name-input[placeholder],
.form-feedback__email-input[placeholder],
.form-feedback__text[placeholder] {
  font-family: 'PT Suns', Arial, sans-serif;
  font-size: 13px;
  padding-left: 11px;
}

.form-feedback__text[placeholder] {
  padding-top: 11px;
}


.form-feedback__link-submit {


  padding: 11px 185px 9px 200px;

  color: var(--basic-white);

  background-color: var(--basic-red);
}

.form-feedback__link-submit:hover {
  background-color: var(--dark-red);

}

.form-feedback__link-submit:active {

  background-color: var(--error)
}

.form-feedback__modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.form-feedback__modal-close::before,
.form-feedback__modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);

}

.form-feedback__modal-close::before {
  transform: rotate(45deg);
}

.form-feedback__modal-close::after {
  transform: rotate(-45deg);
}


/*modal map*/
.modal-map {
  width: 943px;
  height: 449px;

  border-top: 7px solid var(--basic-red);

}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

.modal-map__modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-map__modal-close::before,
.modal-map__modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);

}

.modal-map__modal-close::before {
  transform: rotate(45deg);
}

.modal-map__modal-close::after {
  transform: rotate(-45deg);
}

/*modal-basket*/

.modal-basket {
  box-sizing: border-box;

  width: 620px;
  height: 282px;


  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0 20px 40px var(--some-grey2));
}

.modal-basket__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-basket__added {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;

}

.modal-basket__added svg {
  margin-right: 30px;
}

.modal-basket__order {
  margin-bottom: -1px;
  display: flex;
  padding: 37px 114px 37px 112px;
  box-sizing: border-box;


  width: 620px;
  height: 112px;

  font-family: 'Cuprum', Arial, sans-serif;

  background-color: var(--extra-light-grey2);
  text-align: center;
}


.modal-basket__order-link {
  margin-right: 10px;
  padding: 9px 47px 9px 46px;
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.modal-basket__order-link:hover {
  background-color: var(--dark-red);

}

.modal-basket__order-link:active {
  background-color: var(--error);
}

.modal-basket__continue {

  padding: 9px 31px 9px 32px;
  white-space: nowrap;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-basket__close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-basket__close::before,
.modal-basket__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);

}

.modal-basket__close::before {
  transform: rotate(45deg);
}

.modal-basket__close::after {
  transform: rotate(-45deg);
}

/*footer*/

.main-footer {

  background-color: var(--basic-blue);

}

.main-footer__top {
  position: relative;
  padding-top: 37px;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.main-footer__top .wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.main-footer__logo-img {
  position: absolute;
  top: 0;
  display: block;

  grid-column: 1/2;
  grid-row: 1/2;

}

.main-footer__top ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;


}

.main-footer__top ul li {
  cursor: pointer;

}

.main-footer .menu-top {
  margin-bottom: 30px;

}

.main-footer .menu-bottom {
  justify-content: space-around;
}


.menu-bottom__item:last-child {
  margin-right: -20px;
}

.main-footer__contacts {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 333px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 50px;


  box-sizing: border-box;


}

.menu-top__link {
  color: var(--basic-white)
}

.menu-bottom__link {
  color: var(--basic-extra-yellow);
}

.menu-top__link:hover, .menu-bottom__link:hover {
  text-decoration: underline;
}

.menu-top__link:active, .menu-bottom__link:active {
  opacity: 50%;
}


.main-footer__logo-img {

  padding: 21px 42px 25px 42px;

  background-color: var(--basic-red);

  box-shadow: inset 0 -5px var(--extra-grey);
}

.main-footer__logo-img:active {

  background-color: var(--error)
}


.main-footer__bottom {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.main-footer__bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-footer__feedback,
.main-footer__copyright,
.main-footer__development {
  white-space: pre-line;
}

.main-footer__socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


.main-footer__socials a {
  margin-right: 5px;

  display: flex;

  align-items: center;
  color: var(--basic-white)


}


.main-footer__vk-link:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/icon-vk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--basic-midnight);

  border-radius: 50%;
}

.main-footer__fb-link:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/icon-fb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--basic-midnight);
  border-radius: 50%;
}

.main-footer__insta-link:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/icon-insta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--basic-midnight);
  border-radius: 50%;
}


.main-footer__socials a:hover:before,
.main-footer__socials a:active:before {
  background-color: var(--basic-red);
}


.main-footer__development-link, .main-footer__feedback-mail {
  color: var(--basic-extra-yellow);
}

.main-footer__development-link:hover, .main-footer__feedback-mail:hover {
  text-decoration: underline;
}

.main-footer__development-link:active, .main-footer__feedback-mail:active {
  color: var(--basic-red);
}


/*catalog*/
.page__body--catalog .page__breadcrumbs {
  margin-bottom: 20px;
}

.page__body--catalog .page__title {
  margin-bottom: 20px;
}

.page__body--catalog .page__products {
  margin-bottom: 28px;
}

.page__body--catalog .page__sort {
  margin-bottom: 20px;
}

.page__body--catalog .page__filter {
  margin-right: 20px;
}

.page__body--catalog .page__pagination {
  margin-bottom: 59px;
}


.main-catalog {
  font-family: 'PT Suns', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--basic-black);

}

.main-catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.breadcrumbs__list {

  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__img {
  display: block;
  padding-top: 2px;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs__item:not(:nth-of-type(4)):before {
  content: "";
  display: block;
  position: absolute;
  right: 17px;
  top: 2px;
  width: 8px;
  height: 14px;
  background-image: url("../img/icons/icon-right-small.png");
  background-repeat: no-repeat;
}


.breadcrumbs__link {
  margin-right: 42px;
  display: block;

  color: var(--basic-black)
}


.catalog__title {

  padding-top: 29px;
  padding-left: 29px;
  box-sizing: border-box;

  height: 89px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  background-color: var(--basic-background);

}

.catalog-grid {

}

.catalog-grid .wrapper {
  display: grid;
  grid-template-areas:
  'filter  sort     sort       sort '
  'filter products products products'
  'filter products products products'
  '   .   products products products'
  '   .   pagination pagination  .  ';
}

.sort {
  grid-area: sort;
}

.products {
  grid-area: products;
}

.filter {
  grid-area: filter;
}

.pagination {
  grid-area: pagination;
}


.main-catalog__list {
  width: 700px;


  display: flex;
  justify-content: start;
  line-height: 18px;
  background-color: var(--basic-extra-white);

}

.main-catalog__item {
  margin-right: 65px;
  align-self: center;
}

.main-catalog__item a {

  opacity: 30%;
  padding-bottom: 1px;
  border-bottom: 1px dotted var(--basic-red);

}

.main-catalog__item a:hover {
  opacity: 100%;
  color: var(--basic-black);

  padding-bottom: 1px;

  border-bottom: 1px solid var(--basic-red);

}

.main-catalog__item a:active {
  color: var(--basic-red);
  border-bottom: none;
}


.main-catalog__item:nth-child(1) {
  margin-right: 140px;
}


.main-catalog__sort-link {
  color: var(--basic-black);


}

.filter {
  margin-right: 980px;
}

.filter .wrapper {

  width: 220px;


}


.main-catalog__filter-title {
  height: 45px;

  padding-top: 10px;
  padding-left: 18px;
  box-sizing: border-box;

  font: inherit;
  line-height: 18px;

  background-color: var(--basic-extra-white);
}


.form-filter .form-filter__legend {
  padding-top: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}


.form-filter__input-min, .form-filter__input-max {
  margin-bottom: 15px;
  width: 90px;
  height: 38px;

  text-align: center;

  font-size: 17px;
  line-height: 18px;

  border: none;
  background-color: var(--basic-extra-white)
}

.form-filter__input-min {
  margin-right: 10px;
}


.form-filter ul {
  padding: 0;
  margin: 0;
  /*
  display: inline-block;
  */
  text-align: left;

}


.form-filter__fieldset:nth-child(3) {


  display: inline-block;

  text-align: left;

  border: none;


}


.form-filter__fieldset {
  border: none;
  border-bottom: 1px solid var(--basic-extra-grey2);
}

.form-filter__btn {

  /*  width: 220px;
    height: 38px;*/

  background-color: var(--basic-white);

  border: 1px solid var(--wisper2);
}

.products {

  display: grid;
  grid-template-rows: repeat(3, auto);

}

.products__list {
  grid-row: 2/3;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  width: 740px;


}


.products__item {
  margin-bottom: 18px;
  margin-right: 20px;

  width: 220px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;

  line-height: 20px;
  text-transform: none;

  border: 1px solid var(--extra-light-grey);
}

.products__item:hover {
  box-shadow: 0 4px 20px var(--special-grey);
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;


}


.product-card__link-bay {
  display: block;
  margin-bottom: 21px;
}

.products__item h3 {
  margin-bottom: -10px;
}

.products__item:nth-child(6) h3,
.products__item:nth-child(9) h3 {


}

.products__item:nth-child(6) .product-card__link-bay,
.products__item:nth-child(9) .product-card__link-bay {
}

.products__item:nth-child(4) .product-card__link,
.products__item:nth-child(7) .product-card__link {
}

.product-card__link {
  display: block;
  align-self: center;
}


article p {

  color: var(--basic-dark-grey);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  text-align: center;
  text-decoration: line-through;
}


article .product-card__link-bay {

  padding: 10px 44px 10px 32px;
  font-size: 17px;;
  line-height: 18px;
  color: var(--basic-white);
  background-image: url('../img/backgrounds/price-back.svg');
  background-size: 225px 38px;
  background-repeat: no-repeat;
}


.products__pagination {
  margin: 0 0 49px 0;
  padding: 0;

  height: 38px;

  display: grid;
  gap: 10px;
  grid-template-columns: 38px 38px 38px 140px;

}

.products__pagination-item a {
  color: var(--basic-black);
}

.products__pagination-item {
  padding-top: 7px;

  display: inline-block;
  text-align: center;

  border: 1px solid var(--wisper2);
}

.products__pagination-item:hover {
  border: 1px solid var(--basic-extra-grey2);
}

.products__pagination-item:active {
  border: 1px solid var(--basic-red);
}

.products__pagination-item:nth-child(1),
.products__pagination-item:nth-child(1):hover,
.products__pagination-item:nth-child(1):active {
  background-color: var(--basic-red);
}

.description {

  padding: 64px 0 68px 0;


  text-transform: none;
  text-align: justify;

  background-color: var(--basic-background);
}

.description .wrapper {
  display: flex;
  flex-direction: column;

}


.description__text {

  margin: 0;
  padding: 0 35px 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

}

.description__title {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 400;

}

